#name {
    text-align: center;
}

body {
    background-color:#262e28;
    Overflow:scroll;
}

/* Background image stuff */
body {
    background-image: url("https://picsum.photos/2000/500");
    background-position: center;
    background-repeat:no-repeat;
    background-size:100vw;
    position:fixed;
    top: 0;
}


/*Navigation*/
.url {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}


/* Slide screen*/

.intro {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color:#f1f1eb;
    transition: 1s;
}


/* logo text position */
.logo-header {
    position: absolute;
    top: 40%;
    left: 45%;
    color:#df4f59;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    color:#df4f59;
}


/* logo text timer */
.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 1s;
}