body {
  background-color:#262e28;
  margin:0;
}

#myStatement {
font-size:23px;
width:630px

}  
.hide {
display:none;
transition:ease-in 1s;
}

#myname{
position:absolute;
top:0%;
width: 400px;
font-size:50px;
font-family: 'Oleo Script Swash Caps', cursive;
}
/*Pictures */

#topImg {
background-size:contain;
width:100%;
height:400px;

}

#allLogo {
float:right;
width: 350px;
}

/* Navigation */
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

#main {
transition: margin-left .5s;
padding: 16px;
}

/* Input form */
#textBox input{
width:100px;
clear:both;
}

/* Slide screen*/

.intro {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color:#2274A5;
  transition: 1s;
}


/* logo text position */
.logo-header {
  position: absolute;
  top: 40%;
  left: 43%;
  background-color:transparent;
  border:none;
}

.welcomeLogo{
background-color: transparent;
border:none;
font-size:60px;
font-family: 'Pacifico', cursive;
}
/* logo text timer */

.welcomeLogo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 1s;
}